openapi: 3.0.3
info:
  title: The goakit example downstream service
  description: Archiver is a service that manages the content of HTTP responses
  version: "1.0"
servers:
- url: http://localhost:80
  description: Default server for archiver
paths:
  /archive:
    post:
      tags:
      - archiver
      summary: archive archiver
      description: Archive HTTP response
      operationId: archiver#archive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveRequestBody'
            example:
              body: Unde sed nulla.
              status: 200
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveMedia'
              example:
                body: Asperiores quas quas mollitia tempora expedita.
                href: /archive/1
                status: 200
  /archive/{id}:
    get:
      tags:
      - archiver
      summary: read archiver
      description: Read HTTP response from archive
      operationId: archiver#read
      parameters:
      - name: id
        in: path
        description: ID of archive
        required: true
        schema:
          type: integer
          description: ID of archive
          example: 2499395481066573742
          minimum: 0
        example: 1007502908903998631
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveMedia'
              example:
                body: Provident at explicabo cum odit.
                href: /archive/1
                status: 200
        "400":
          description: 'bad_request: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: 'not_found: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
  /health:
    get:
      tags:
      - health
      summary: show health
      description: Health check endpoint
      operationId: health#show
      responses:
        "200":
          description: OK response.
          content:
            text/plain:
              schema:
                type: string
                example: Rem consequuntur consequatur.
              example: Dolorum corrupti voluptas ut consequuntur.
components:
  schemas:
    ArchiveMedia:
      type: object
      properties:
        body:
          type: string
          description: HTTP response body content
          example: Aut culpa.
        href:
          type: string
          description: The archive resouce href
          example: /archive/1
          pattern: ^/archive/[0-9]+$
        status:
          type: integer
          description: HTTP status
          example: 200
          minimum: 0
      example:
        body: Aliquam cupiditate similique.
        href: /archive/1
        status: 200
      required:
      - href
      - status
      - body
    ArchiveRequestBody:
      type: object
      properties:
        body:
          type: string
          description: HTTP response body content
          example: Soluta iusto vel ad.
        status:
          type: integer
          description: HTTP status
          example: 200
          minimum: 0
      example:
        body: Incidunt consequuntur aperiam.
        status: 200
      required:
      - status
      - body
    Error:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: false
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of
            the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence
            of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: true
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: false
      example:
        id: 3F1FKVRR
        message: Value of ID must be an integer
        name: bad_request
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
tags:
- name: archiver
- name: health
