swagger: "2.0"
info:
  title: The goakit example upstream service
  description: Fetcher is a service that makes GET requests to arbitrary URLs and
    stores the results in the downstream 'archiver' service.
  version: ""
host: localhost:80
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /fetch/{*url}:
    get:
      tags:
      - fetcher
      summary: fetch fetcher
      description: Fetch makes a GET request to the given URL and stores the results
        in the archiver service which must be running or the request fails
      operationId: fetcher#fetch
      parameters:
      - name: url
        in: path
        description: URL to be fetched
        required: true
        type: string
        format: uri
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/FetcherFetchResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/FetcherFetchBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/FetcherFetchInternalErrorResponseBody'
      schemes:
      - http
  /health/:
    get:
      tags:
      - health
      summary: show health
      description: Health check endpoint
      operationId: health#show
      produces:
      - text/plain
      responses:
        "200":
          description: OK response.
          schema:
            type: string
      schemes:
      - http
definitions:
  FetcherFetchBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: fetch_bad_request_response_body result type (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  FetcherFetchInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: fetch_internal_error_response_body result type (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  FetcherFetchResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.fetch; view=default'
    type: object
    properties:
      archive_href:
        type: string
        description: The href to the corresponding archive in the archiver service
        example: /archive/1
        pattern: ^/archive/[0-9]+$
      status:
        type: integer
        description: HTTP status code returned by fetched service
        example: 200
        minimum: 0
    description: FetchResponseBody result type (default view)
    example:
      archive_href: /archive/1
      status: 200
    required:
    - status
    - archive_href
